<html ng-app="my-app">
<div align="center">
    <h2> Transaction Page</h2>
</div>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<script>
    var angular = angular.module('my-app', []);
    angular.controller('transactionCntrl', transactionCntrl);

    function transactionCntrl($scope, $http, $window, $filter) {

        this.clearList = function () {
            this.transaction = [];
        }


        this.transactionFn = function () {
            var config = {
                headers: {
                    'Accept': 'text/plain'
                }
            };
            var url = "http://localhost:9001/transaction";

            var transactionDate = $filter("date")(this.transaction.transactionDate, 'yyyy-MM-dd');


            var data = {

                accountNo: this.transaction.accountNo,
                accountName: this.transaction.accountName,
                accountType: this.transaction.accountType,
                trasactionType: this.transaction.trasactionType,
                amount: this.transaction.amount,
                transactionDate: transactionDate,
                transactionId: this.transaction.transactionId

            };

            $http.post(url, data, config).then(function (response) {
                $scope.postResultMessage = response.data;
                if (response.data == "success") {
                    alert(" Amount is credited to Account" + this.transaction.amount);
                } else {
                    alert(" Amount is credited to Account failed" + this.transaction.amount);;
                }
                console.log(" " + response.data);
            }, function error(response) {
                $scope.postResultMessage = "Error with status: " + response.statusText;
            });

            console.log(" " + this.transaction.accountNo);
        }
    };

</script>

<body ng-controller="transactionCntrl as transCntrl">

    <div class="container">
        <table class="table">
            <tr>
                <td>
                    <a href="login.html"> Login </a>
                </td>
                <td>
                    <a href="registration.html"> Register </a>
                </td>
                <td>
                    <a href="transaction.html"> Transaction </a>
                </td>
                <td>
                    <a href="bankStatementGeneration.html"> Statement </a>
                </td>
            </tr>
        </table>
    </div>


    <div class="container">
        <table class="table">
            <tr>
                <td> Account No </td>
                <td>
                    <input type="text" name="accountNo" ng-model="transCntrl.transaction.accountNo" required/> </td>
                <td>Account Name </td>
                <td>
                    <input type="text" name="accountName" ng-model="transCntrl.transaction.accountName" />
                </td>
                <td>Account Type </td>
                <td>
                    <select ng-model="transCntrl.transaction.accountType">
                        <option value="Saving">Saving Account</option>
                        <option value="Salary">Salary Account</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td> Transaction Type </td>
                <td>
                    <select ng-model="transCntrl.transaction.trasactionType">
                        <option value="Debit">Debit</option>
                        <option value="Credit">Credit</option>
                    </select>
                </td>
                <td> Amount </td>
                <td>
                    <input type="text" name="amount" ng-model="transCntrl.transaction.amount" required/> </td>
                <td> Transaction Date </td>
                <td>
                    <input type="date" name="transactionDate" ng-model="transCntrl.transaction.transactionDate" required/> </td>
            </tr>

            <tr>
                <td> Transaction Id </td>
                <td>
                    <input type="text" name="transactionId" ng-model="transCntrl.transaction.transactionId" /> </td>

            </tr>



            <tr>
                <td>
                    <input type="button" name="Submit" value="Submit" ng-click="transCntrl.transactionFn(transaction)" /> </td>
                <td>
                    <input type="button" name="Reset" value="Reset" ng-click="transCntrl.clearList()" /> </td>
                <td>
                    <input type="button" name="Cancel" value="Cancel" />
                </td>
            </tr>

        </table>
        </br>
    </div>
</body>

</html>