<html ng-app="my-app">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<script src="loginApp.js" ></script>

 
<body>

    <form name="myForm" ng-controller="loginCntrl as login" novalidate>

        <div class="container">
            <h2> Login Page</h2>
            <table class="table">
                <tr>
                    <td> Enter your Login Credentials {{postResultMessage}}</td>
                </tr>
                <tr>
                    <td>User Name </td>
                    <td>
                        <input type="text" placeholder="Enter Username" name="userName" ng-model="login.user.userName" required/>
                        <span style="color:red" ng-show="myForm.userName.$dirty &&myForm.userName.$invalid">
                            <span ng-show="myForm.userName.$error.required">User Name is required.</span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Password </td>
                    <td>
                        <input type="password" placeholder="Enter Password" name="password" ng-model="login.user.password" required/>
                        <span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid">
                            <span ng-show="myForm.password.$error.required">Password is required.</span>
                        </span>
                    </td>
                </tr>


                <tr>
                    <td>
                        <input type="submit" name="Login" value="Login" ng-click="login.loginFn(user)" ng-disabled="myForm.userName.$dirty && myForm.userName.$invalid ||
                    myForm.password.$dirty &&  myForm.password.$invalid" /> </td>
                    <td>
                        <a href="goregistration.html">Register</a>
                    </td>
                </tr>

            </table>
            </br>
        </div>
    </form>
</body>

</html>